<table summary="navigation form fields">

  <tr>
    <th><%= f.label(:site_id) %></th>
    <td><%= f.text_field(:site_id) %></td>
  </tr>
  <tr>
    <th><%= f.label(:title) %></th>
    <td><%= f.text_field(:title) %></td>
  </tr>
    <tr>
    <th><%= f.label(:permalink) %></th>
    <td><%= f.text_field(:permalink) %></td>
  </tr>


</table>
