<h2>Pages</h2>
<table class="toggle" border="1">
<tr>
  <th></th><th>Title</th><th>Permalink</th><th>Updated</th><th>Actions</th>
</tr>
<% @pages.each do |page| %>
<tr>
  <td><%= page.id %></td><td><%= link_to(page.title, admin_page_path(page), :class => "no_ajaxify" ) %></td><td><%= page.permalink %></td><td><%= page.updated_at %></td>
  <td><%#= link_to("Delete", admin_page_path(page), method: "delete", :data => {:confirm => 'Are you sure?'}) %></td>
</tr>
<% end %>
</table>