<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>
<div id="flash">
<%=  flash[:notice] if  flash[:notice]%>
</div>
<div class="pages new">
  <h2>Create Page</h2>

  <%= form_for(:page, :url => {:action => 'create'}) do |f| %>

   <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Page") %>
    </div>

  <% end %>
</div>