<table>
<tr>
  <th>Header</th><th>content</th><th>image</th><th>Updated</th><th>Actions</th>
</tr>
<% @sections.each do |section| %>
  <tr>
    <td><%= section.header %></td>
    <td><%= section.content %></td>
    <td><%= section.image %></td>
    <td><%= section.updated_at %></td>
    <td><%= link_to "Edit", edit_admin_section_path(section) %></td>
  </tr>
<% end %>

</table>
<%= link_to("New section", new_admin_section_path) %>