<style>
td {padding: 5px;} th {text-align:center;}
</style>
<h1>Navigation#index</h1>
<%= link_to("Add new nav", :action => 'new') %>


<table border="1">
<tr>
  <th>site_id</th>
  <th>Order</th>
  <th>Name</th>
  <th>controller</th>
  <th>href</th>
  <th>Created</th>
  <th>Modified</th>
  <th col-span = "3">Actions</th>
</tr>
<% @navigation.each do |navigation| %>
<tr>
  <td class="hidden"><%= navigation.id %></td>
  <td><%= navigation.site_id %></td>
  <td><%= navigation.order %></td>
  <td><%= navigation.name %></td>
  <td><%= navigation.controller%></td>
  <td><%= navigation.href %></td>
  <td><%= navigation.display %></td>
  <td><%= navigation.created_at %></td>
  <td><%= navigation.updated_at %></td>
  <td>
    <%= link_to("Edit", {:action => "edit", :id => navigation.id}) %>
    <%= link_to("Delete", :method => :delete) %>
  </td>
</tr>

<% end %>
</table>