<table summary="product image form fields">
  

  <tr>
    <th><%= f.label(:product_id) %></th>
    <td><%= f.collection_select(:product_id, @products, :id, :name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:src) %></th>
    <td><%= f.text_field(:src) %></td>
  </tr>
  <tr>
    <th><%= f.label(:alt) %></th>
    <td><%= f.text_area(:alt) %></td>
  </tr>
  <tr>
    <th><%= f.label(:order) %></th>
    <td><%= f.number_field(:order) %></td>
  </tr>
  <tr>
    <th><%= f.label(:feature) %></th>
    <td><%= f.check_box(:feature) %></td>
  </tr>
  
  
</table>