<table border="1">
  <tr>
    <th>ID</th><th>Product</th><th>SRC</th><th>Alt</th><th>Order</th><th>Feature</th><th>Created</th>
  </tr>
  
  <% @product_images.each do |img| %>
    <tr>
      <td><%= img.id %></td>
      <td><%= img.product.name %></td>
      <td><%= img.src %></td>
      <td><%= img.alt %></td>
      <td><%= img.order %></td>
      <td><%= img.feature %></td>
      <td><%= img.created_at %></td>
    </tr>
  <% end %>
</table>
<%= link_to("Add Product Image", new_admin_product_image_path) %>