<%= form_for(:product_image, :url => {:action => "create"}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons">
  <%= submit_tag("Add product image") %>
</div>
<% end %>