<div>
      <%= link_to diy_path, :class => "carouselLink" do %>
      <h2>בנה מנורה בעצמך</h2>
      <%= image_tag("gallery/led-grow-equipment.jpg") %>
      <p class="slideText">אנחנו פה כדי שאתם תגדלו. מדריך מפורט לבניית מנורה משלכם מחומרים ממוחזרים שיש בכל מקום.</p>
        <% end %>
      </div>