<div>
<h2>מנורות בעבודת יד</h2>
<%= image_tag("gallery/led-grow-30x15-top.jpg") %>
<p class="slideText">מנורה מארץ הקודש בעבודת יד, מהיצרן לצרכן.<br>כבר לא צריך ללכת רחוק בשביל מנורת גידול עוצמתית.</p>
</div>