<div id="slidePower">
  
  <h2>אורכי גל ועוצמה זה שם המשחק</h2>
  <%= image_tag("store/PAR-chart.png") %>
  <p class="slideText">למה לבזבז אנרגיה על אור שהצמח בקושי משתמש בו כשאפשר לתת לצמח את האור שהוא צריך</p>
</div>
