@font-face {
    font-family: 'Carmela';
    src: url('<%= asset_path("Carmela_Webfont/carmela.eot") %>');
    src: url('<%= asset_path("Carmela_Webfont/carmela.woff") %>') format('woff'),
         url('<%= asset_path("Carmela_Webfont/carmela.ttf") %>') format('truetype');
    font-weight: normal;
    font-style: normal;

}

