<style>
	


</style>
<h1><%= t "admin.login" %></h1>

<%= form_tag admin_login_path, :class => "no_ajaxify login-form", :id => "loginForm" do %>

  <div class="form-group"><label><%= t "admin.email" %>:</label> <%= text_field_tag :email %></div>
  <div class="form-group"><label><%= t "admin.pass" %>:</label> <%= password_field_tag :password %></div>
  <%= submit_tag t "admin.submit", :class => "no_ajaxify" %>

<% end %>