<%= simple_form_for(@snippet) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :language %>
    <%= f.input :snip %>
    <%= f.input :instruction %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
