<p id="notice"><%= notice %></p>

<h1>Listing Snippets</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Language</th>
      <th>Snip</th>
      <th>Usage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snippets.each do |snippet| %>
      <tr>
        <td><%= snippet.language %></td>
        <td><%= snippet.snip %></td>
        <td><%= snippet.instruction%></td>
        <td><%= link_to 'Show', snippet %></td>
        <td><%= link_to 'Edit', edit_snippet_path(snippet) %></td>
        <td><%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snippet', new_snippet_path %>
