<p id="notice"><%= notice %></p>

<p>
  <strong>Language:</strong>
  <%= @snippet.language %>
</p>

<p>
  <strong>Snip:</strong>
  <%= @snippet.snip %>
</p>
<p>
  <strong>Instruction:</strong>
  <%= @snippet.instruction %>
</p>
<%= link_to 'Edit', edit_snippet_path(@snippet) %> |
<%= link_to 'Back', snippets_path %>
