<%= simple_form_for(@lamp) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :model %>
    <%= f.input :description %>
    <%= f.input :sell %>
    <%= f.input :cost %>
    <%= f.input :stock %>
    <%= f.input :watt %>
    <%= f.input :width %>
    <%= f.input :length %>
    
    <%= f.simple_fields_for :joiners do |j| %>
        <%= j.input :sum %>
      <% end %>
    
    
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
