<style>
img{
  max-width:100px;
}
</style>
<p id="notice"><%= notice %></p>

<h1>Listing Lamps</h1>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>Model</th>
      <th>Description</th>
      <th>Sell</th>
      <th>Cost</th>
      <th>Stock</th>
      <th>Watt</th>
      <th>Width</th>
      <th>Length</th>
      <th>LEDs</th>
      <th>Fan</th>
      <th>PSU</th>
      <th>Images</th>
      <th colspan="3">actions</th>
    </tr>
  </thead>

  <tbody>
    <% @lamps.each do |lamp| %>
      <tr>
        <td><%= lamp.model %></td>
        <td><%= lamp.description %></td>
        <td><%= lamp.sell %></td>
        <td><%= lamp.cost %></td>
        <td><%= lamp.stock %></td>
        <td><%= lamp.watt %></td>
        <td><%= lamp.width %></td>
        <td><%= lamp.length %></td>
        <td>
        <% lamp.constituents.leds.each do |c| %>
            <%= c.name %> | <%= c.joiners.first.sum %>
            <br>
        <% end %>
        </td>
        <td>
        <% lamp.constituents.fans.each do |c| %>
            <%= c.name %> | <%= c.joiners.first.sum %>
            <br>
        <% end %>
        </td>
        <td>
        <% lamp.constituents.psus.each do |c| %>
            <%= c.name %> | <%= c.joiners.first.sum %>
            <br>
        <% end %>
        </td>
        <td>
          <% lamp.product_images.each do |i| %>
              <%= image_tag("#{i.src}") %>
          <% end %>
        </td>
        <td><%= link_to 'Show', lamp %></td>
        <td><%= link_to 'Edit', edit_lamp_path(lamp) %></td>
        <td><%= link_to 'Destroy', lamp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Lamp', new_lamp_path %>
