<p id="notice"><%= notice %></p>

<p>
  <strong>Model:</strong>
  <%= @lamp.model %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lamp.description %>
</p>

<p>
  <strong>Sell:</strong>
  <%= @lamp.sell %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @lamp.cost %>
</p>

<p>
  <strong>Stock:</strong>
  <%= @lamp.stock %>
</p>

<p>
  <strong>Watt:</strong>
  <%= @lamp.watt %>
</p>

<p>
  <strong>Width:</strong>
  <%= @lamp.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @lamp.length %>
</p>

<p>
  <strong>Led sum1:</strong>
  <%= @lamp.led_sum1 %>
</p>

<p>
  <strong>Led sum2:</strong>
  <%= @lamp.led_sum2 %>
</p>

<p>
  <strong>Led sum3:</strong>
  <%= @lamp.led_sum3 %>
</p>

<p>
  <strong>Led sum4:</strong>
  <%= @lamp.led_sum4 %>
</p>

<%= link_to 'Edit', edit_lamp_path(@lamp) %> |
<%= link_to 'Back', lamps_path %>
