<%= simple_form_for(@map) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :person %>
    <%= f.input :lat %>
    <%= f.input :lng %>
    <%= f.input :address %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
