<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @map.person %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @map.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @map.lng %>
</p>

<p>
  <strong>Address:</strong>
  <%= @map.address %>
</p>

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>
