<p id="notice"><%= notice %></p>

<h1>Listing Constituent Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constituent_types.each do |constituent_type| %>
      <tr>
        <td><%= constituent_type.name %></td>
        <td><%= constituent_type.description %></td>
        <td><%= link_to 'Show', constituent_type %></td>
        <td><%= link_to 'Edit', edit_constituent_type_path(constituent_type) %></td>
        <td><%= link_to 'Destroy', constituent_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constituent type', new_constituent_type_path %>
