<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constituent_type.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @constituent_type.description %>
</p>

<%= link_to 'Edit', edit_constituent_type_path(@constituent_type) %> |
<%= link_to 'Back', constituent_types_path %>
