<table class="table table-striped">
  <tr>
    <th>Item</th>
    <th>Price</th>
    <th>Currency</th>
  </tr>
  <% @costs.each do |c| %>
    <tr>
      <td><%= c.item %></td>
      <td><%= number_to_currency(c.price) %></td>
    </tr>
  <% end %>
</table>