<table summary="sections form fields">

  <tr>
    <th><%= f.label(:page_id) %></th>
    <td><%= f.collection_select(:page_id, @pages, :id, :title) %></td>
    
  </tr>
  <tr>
    <th><%= f.label(:header) %></th>
    <td><%= f.text_field(:header) %></td>
  </tr>
    <tr>
    <th><%= f.label(:image) %></th>
    <td><%= f.text_field(:image) %></td>
  </tr>
    <tr>
    <th><%= f.label(:content) %></th>
    <td><%= f.cktext_area :content, :class => 'texteditor', :ckeditor => {:language => (params[:locale] == 'en' ? "en" : "he")} %></td>
  </tr>


</table>

