  <%= form_for(:section, :url =>{ :action => 'update', :id => @section.id}, method: "patch" ) do |f| %>

   <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("#{t 'save'}") %>
    </div>

  <% end %>