<div class="sections">
<table class="table">
  <tr>
    <th>Header</th>
    <th>Content</th>
    <th>Actions</th>
  </tr>
  <% @sections.each do |s| %>
  <tr>
    <td><%= s.header %></td>
    <td class="text"><%= truncate s.content.html_safe, length: 80 %>
      </td>
    <td><%= link_to "edit", edit_admin_section_path(s), :class => "no_ajaxify" %></td>
  </tr>
  <% end %>
</table>
</div>

<script>
  $(document).ready(function() {
	$(".text").dotdotdot({
      ellipsis	: '... '
    });
  });
</script>