<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>
<div id="flash">
<%=  flash[:notice] if  flash[:notice]%>
</div>
<div class="sections new">
  <h2>Create Sectionnnnnnnn</h2>

  <%= form_for(:section, :url => {controller: "sections"}) do |f| %>

   <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Section") %>
    </div>

  <% end %>
</div>