<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.label :name %>
    <%= f.input :name %>
    <%= f.label :email %>
    <%= f.input :email %>
    <%= f.label :password %>
    <%= f.input :password %>
    <%= f.input :login %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
