<script>
      var locale = '<%= I18n.locale %>';
      //alert(locale);
      
      $("html").attr("lang", locale);                 //Setting html "lang"
      
      if(locale == 'en'){          //Setting html "dir" according to locale
        $("html").attr("dir", "ltr");
        
      }
      else{
        $("html").attr("dir", "rtl");
      }
    </script>