<footer class="footer">
  <div class="footerVine1"></div>
  
  <div class="social-btns col-xs-12 col-sm-6 col-md-4">
    <%= link_to((fa_icon "facebook"), ("https://www.facebook.com/ledyairisrael"), :target => "_blank", :class => "fb") %>
    <%= link_to((fa_icon "youtube"),("https://www.youtube.com/user/ledyair"), :target => "_blank", :class => "yt") %>
    <%= link_to((fa_icon "bitbucket"),("https://bitbucket.org/ysinc88/"), :target => "_blank", :class => "bb") %>
    <%= link_to((fa_icon "google-plus"),("https://www.google.com/+Ledyairisrael"), :target => "_blank", :class => "gp") %>
    <%= link_to((fa_icon "twitter"),("https://twitter.com/ledyair"), :target => "_blank", :class => "tw") %>
  </div>
  
  <div class="number col-xs-12 col-sm-6 col-md-3"><%= t "footer.contact" %><a itemprop="telephone" href="tel:026497900"> 02-649-7900</a></div>
  <div class="text-muted col-xs-12 col-sm-12 col-md-5"><%= t ("copyright") %> &copy;</div>
</footer>
    
    <!--
<script type="text/javascript" 
  id="snipcart" 
  src="https://app.snipcart.com/scripts/snipcart.js"
  data-api-key="Mzk3YzUyMzgtMWM4NS00YzQwLThlNDktNDQzODFjZWJlZDE1"></script>

<link type="text/css"
  id="snipcart-theme"
  href="https://app.snipcart.com/themes/base/snipcart.css" 
  rel="stylesheet" />
  -->