<header>

  <div class="logo" >

    <a itemprop="url" href="http://ledyair.com" href="/"><img itemprop="logo" src="<%= asset_path("vineLogo.png") %>" alt="LEDYair logo" /></a>
  </div>
  
  <nav  id="" class=""  role="link" aria-expanded="false">

      <ul id="" class="" >
          <% @navigation.each_with_index do |nav, index| %>
          <li class="nav-item <%= params[:action] == nav.href ? "active" : "" %>">
              <%= link_to( {:controller => "pages", action: nav.href, remote: true }, {:class => "nav-link ui-content #{nav.css_class} link-to-#{nav.href}"}) do %>
                <%= nav.name %><%= fa_icon "#{nav.icon}", :class => "hide-large" %>
              <% end %>
          </li>
          <% end %>
          <li class="nav-item lang-links" >
            <%= link_to image_tag("en_32.png"), {locale: :en}, {:aria => {:haspopup => "true"}, :title => "Under development", :data => {:tooltip => ""}, :class => "en-link  #{I18n.locale == :en ? "active" : ""}"} %>
            <%= link_to image_tag("he_32.png"), {locale: :he}, {:class => "he-link  #{I18n.locale == :he ? "active" : ""}"} %>
            <% if I18n.locale == :he || I18n.locale == :fe %>
            <%= link_to image_tag("fe_32.png"), {locale: "fe"}, {:class => "fe-link  #{I18n.locale == :fe ? "active" : ""}"} %>
            <% end %>
          </li>

      </ul>

  </nav>

</header>