<header>
  <div class="logo col-lg-2 col-md-6 col-xs-5" >
          
          <a itemprop="url" href="http://ledyair.com" href="/"><img itemprop="logo" src="<%= asset_path("vineLogo.png") %>" alt="LEDYair logo" /></a>
          
          
  </div>

  <div class="lang-links col-md-1">

    <div class="lang-links-wrap">
      <%= link_to image_tag("en_32.png"), {locale: :en}, {:class => "en-link  #{I18n.locale == :en ? "active" : ""}"}%>
      <%= link_to image_tag("he_32.png"), {locale: :he}, {:class => "he-link  #{I18n.locale == :he ? "active" : ""}"} %>
      <% if I18n.locale == :he || I18n.locale == :fe %>
      <%= link_to image_tag("fe_32.png"), {locale: "fe"}, {:class => "fe-link  #{I18n.locale == :fe ? "active" : ""}"} %>
      <% end %>
    </div>


  </div>  
  <nav class="navbar navbar-default col-md-12 col-lg-6 col-xs-12" >

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>


    <div id="navbar" class="collapse navbar-collapse"  role="link" aria-expanded="false" >
      <ul class="nav nav-pills" >
          <% @navigation.each_with_index do |nav, index| %>
          <li class="<%= params[:action] == nav.href ? "active" : "" %>">
              <%= link_to(nav.name, {:controller => "pages", action: nav.href, remote: true },  :class => "ui-content radius-0 nav-link  nav-link-color-#{index}") %>
          </li>
          <% end %>

      </ul>
    </div><!--/.nav-collapse -->

  </nav>

</header>