<div id="user_nav">
  <% if current_user %>
    Signed in as <strong><%= current_user.name %></strong> <%= image_tag "#{current_user.image}" %>
    <%= link_to (t "admin.signout"), admin_logout_path, id: "sign_out", :class => "no_ajaxify" %>
  <% else %>
    <%= link_to (t "admin.login"), admin_login_path , id: "sign_in", :class => "no_ajaxify" %>
  <% end %>
</div>