<style>
  .form-group label {
    width:20%;
    text-align: right;
  }
  .leds th {
    text-align:center;
  }
</style>
<table class="table leds sortable">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Wavelength</th>
    <th>fV</th>
    <th>A</th>
    <th>W</th>
  </tr>
  <% @leds.each do |l| %>
    <tr>
      <td style="background-color:#<%= l.color %>;"></td>
      <td><%= l.name.capitalize %></td>
      <td><%= l.wl.to_s + l.wl_suffix %></td>
      <td><%= number_with_precision(l.fv, :precision => 1) %></td>
      <td><%= number_with_precision(l.amp, :precision => 2) %></td>
      <td><%= l.amp * l.fv  %></td>
      <td><%#= link_to admin_led_path(l) %></td>
    </tr>
  <% end %>
</table>

<%= form_for([:admin, @newled], :html => {:class => "form-horizontal"}) do |f| %>

  <div class="form-group">
  <%= f.label(:name) %>
  <%= f.text_field(:name) %>
  </div>
  <div class="form-group">
  <%= f.label(:wl, "Wavelength") %>
  <%= f.number_field(:wl) %>
  </div>
  <div class="form-group">
  <%= f.label(:fv, "forward voltage".capitalize) %>
  <%= f.number_field(:fv, :precision => 2, :step => 0.1) %>
  </div>
  <div class="form-group">
  <%= f.label(:amp, :amp.capitalize) %>
  <%= f.number_field(:amp, :precision => 2, :step => 0.01) %>
  </div>
  <div class="form-group">
  <%= f.label(:price) %>
  <%= f.number_field(:price, :precision => 2, :step => 0.01) %>
  </div>
  <div class="form-group">
  <%= f.label(:currency) %>
  <%= f.text_field(:currency) %>
  </div>
  <div class="form-group color">
  <%= f.label(:color, "") %>
  <%= f.text_field(:color) %>
  </div>

  <div class="form-buttons">
  <%= submit_tag("Create LED") %>
</div>
<% end %>
  <script>
     $('.color input').ColorPicker(options);
  </script>