<%= simple_form_for(@constituent) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    Constituent type<%= f.collection_select(:constituent_type_id, @type, :id, :name) %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :cost_ils %>
    <%= f.input :cost_usd %>
    <%= f.input :width %>
    <%= f.input :length %>
    <%= f.input :volt %>
    <%= f.input :amp %>
    <%= f.input :watt %>
    <%= f.input :weight %>
    
     <%= f.input :cfm %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
