<style>
/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-image: url(bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #8dbdd8;
}
</style>

<p id="notice"><%= notice %></p>

<h1>Listing Constituents</h1>

<table  class="table table-bordered table-condensed" id="constituentsList">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost ils</th>
      <th>Cost usd</th>
      <th>Width</th>
      <th>Length</th>
      <th>Volt</th>
      <th>Amp</th>
      <th>Watt</th>
      <th>Weight</th>
      <th>Type</th>
      <th>Cfm</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @constituents.each do |constituent| %>
      <tr>
        <td><%= constituent.name %></td>
        <td><%= constituent.description %></td>
        <td><%= number_with_precision(constituent.cost_ils, :percision => 2) %></td>
        <td><%= number_with_precision(constituent.cost_usd, :percision => 2) %></td>
        <td><%= constituent.width %></td>
        <td><%= constituent.length %></td>
        <td><%= constituent.volt %></td>
        <td><%= constituent.amp %></td>
        <td><%= constituent.watt %></td>
        <td><%= constituent.weight %></td>
        <td><%= constituent.constituent_type.name %></td>
        <td><%= constituent.cfm %></td>
        <td><%= link_to 'Show', constituent %></td>
        <td><%= link_to 'Edit', edit_constituent_path(constituent) %></td>
        <td><%= link_to 'Destroy', constituent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Constituent', new_constituent_path %>
<script>
$(document).ready(function() 
    { 
        $("#constituentsList").tablesorter(); 
    } 
); 
</script>
