<div class="admin">
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @constituent.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @constituent.description %>
</p>

<p>
  <strong>Cost ils:</strong>
  <%= @constituent.cost_ils %>
</p>

<p>
  <strong>Cost usd:</strong>
  <%= @constituent.cost_usd %>
</p>

<p>
  <strong>Width:</strong>
  <%= @constituent.width %>
</p>

<p>
  <strong>Length:</strong>
  <%= @constituent.length %>
</p>

<p>
  <strong>Volt:</strong>
  <%= @constituent.volt %>
</p>

<p>
  <strong>Amp:</strong>
  <%= @constituent.amp %>
</p>

<p>
  <strong>Watt:</strong>
  <%= @constituent.watt %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @constituent.weight %>
</p>

<p>
  <strong>Type:</strong>
  <%=  @constituent.constituent_type.name %>
</p>

<p>
  <strong>Cfm:</strong>
  <%= @constituent.cfm %>
</p>

<%= link_to 'Edit', edit_constituent_path(@constituent) %> |
<%= link_to 'Back', constituents_path %>

</div>