
  <table class="table">
    <tr>
      <th>Lamp</th>
      <th>LED</th>
      <th>WL</th>
      <th>Count</th>
      <th>Watt</th>
      <th>Cost</th>
    </tr>
    <tbody>
     <% @ledconfigs.each do |l| %> 
      <%= l.name %>
     <% end %>
    </tbody>
  </table>
