<h1>Admin::Stores#index</h1>
<p>Find me in app/views/admin/stores/index.html.erb</p>

<table border="1">
  <tr>
    <th>Store name</th><th>Site ID</th>
  </tr>
  <% @stores.each do |store| %>
  <tr><td><%= link_to(store.name, admin_store_path(store)) %></td><td><%= store.site_id%></td></tr>
  <% end %>



</table>