<h1>7even Bang!Boom!Hackita!</h1>
<% series = (1..100).to_a %>
<%  series.each do |s| %>
  <% if s % 7 == 0 %>
    <% if s.to_s.include? "7" %>
      hackita!,
    <% else %>    
      boom!,
    <% end %>
    
  <% else %>
    <% if s.to_s.include? "7" %>
      bang!,
    <% else %>
      <%= s %>,
    <% end %>
    
  <% end %>

  <% end %>
</p>
