<%# @files.each do |f| %>
  <%#= link_to f, f %><br>
<%# end %>

<li><%= send_file(f[/\/.*/], :disposition => 'attachement' %></li>

<% @files.each do |file| %>
    
    
    
    
    
    <%#= link_to 'Letter', file[/\/.*/] %></li>
    <audio controls>

      <source src="<%= file[/\/.*/] %>" type="audio/mpeg">

      Your browser does not support the audio element.
    </audio>
    
<% end %>
    