<div class="">
<style>
  .footerVine1{z-index: -1 !important;}
</style>
<section id="about">
<h2 class="specialh2"><%= t "about.title" %></h2>
<div class="feature-img col-md-6 ">
<%= image_tag "gallery/indoor-top-view.jpg" %>
</div>
<% @sections.each do |s| %>
  <%= raw s.content %>
<% end %>

</section>
</div>