<section id="blog">

  <div class="blog_nav right ">
    <ul>
      <li class="nav_item">
        <a target="#light">
          אור, פוטוסינטזה ומה שביניהם
        </a>
      </li>
      <li class="nav_item">
        <a target="#electronics">
          אלקטרוניקה ולדים
        </a>
      </li>
      <li class="nav_item">
        <a target="#arduino">
          יחי ארדואינו!
        </a>
      </li>
      <li class="nav_item">
        <a target="#npk">
          NPK, EC ו pH
        </a>
      </li>
    </ul>
  </div>
  <div class="blog_main left ">

    <% @sections.each do |s|%>
      <div id="<%= s.header %>"><%= s.content.html_safe %></div>
    <% end %>
    
    
  </div>
  
  
</section>
<script>
  $(document).ready(function(){
/*    $(".blog_nav").sticky({topSpacing:20}); */
  });
</script>
<script>
  	  /*
      $(function(){

		$('.blog_nav').slicknav(
        {
          label: 'מאמרים',
          closeOnClick:true,
          prependTo:'#main',
          'init': function(trigger){
            $(".blog_nav").addClass("nav_blog_style");
          }
        }
    );
	});
  

     $(document).ready(function(){
    $(".blog_nav").sticky({topSpacing:0});
  });*/
  
</script>
<script>
  $(".blog_main").children().hide();
  $("#light").show();
  
  $("#blog a[target]").click(function(e){
    e.preventDefault;
    var target = this.target;
    //alert (target);
    $(".nav_item").removeClass("active");
    $(this).parent().addClass("active");
    $(".blog_main").children().hide();
    $(target).show();
  });
</script>