
<section class="contact-page">
<h2 class="specialh2"><%= t "titles.#{@action}" %></h2>
    <div class="center">
        <%= form_tag(send_mail_path, :class => "contact-form col-md-5 col-md-offset-3 col-xs-12") do %>
            <div class="form-group">
                <%= label_tag 'name', (t "contact.name.label") %>
                <%= text_field_tag 'name', nil, class: 'form-control', placeholder: (t "contact.name.placeholder") %>
            </div>
            <div class="form-group">
                <%= label_tag 'phone', (t "contact.phone.label") %>
                <%= text_field_tag 'phone', nil, class: 'form-control', placeholder: (t "contact.phone.placeholder") %>
            </div>
           <div class="form-group">
               <%= label_tag 'email', (t "contact.email.label") %>
               <%= email_field_tag 'email', nil, class: 'form-control', placeholder: (t "contact.email.placeholder") %>
           </div>
           <div class="form-group">
               <%= label_tag 'comments', (t "contact.message.label") %>
               <%= text_area_tag 'comments', nil, class: 'form-control', rows: 4, placeholder: (t "contact.message.placeholder") %>
           </div>
           <%= submit_tag (t "contact.message.send"), class: 'btn btn-default btn-about' %>
           
            
       <% end %>
      
  </div>
  

</section>
