<div class="">
    <section id="diy">
    <h2 class="specialh2"><%= t "titles.#{@action}" %></h2>
    <div class="row">
        
        

        <div class="materials col-md-8 col-xs-12">
        <h3><%= t "diy.materials.header" %></h3>
          <ol class="outline">
          <li>
            <%= t "diy.materials.metal" %>
          </li>
          <li>
            <%= t "diy.materials.glue" %><%= link_to((fa_icon "external-link"),("http://www.ebay.com/sch/i.html?_odkw=fujikthermal+adhesive&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR0.TRC0.H0.Xfujik+thermal+adhesive.TRS0&_nkw=fujik+thermal+adhesive&_sacat=0"), :target => "_blank", :class => "external") %>
          </li>
          <li>
            <%= t "diy.materials.leds" %><%= link_to((fa_icon "external-link"),("http://www.ebay.com/sch/i.html?_odkw=460nm+led&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR0.TRC0.H0.X460nm+3w+led.TRS0&_nkw=460nm+3w+led&_sacat=0"), :target => "_blank", :class => "external") %><%= link_to((fa_icon "external-link"),("http://www.ebay.com/sch/i.html?_odkw=460nm+3w+led&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR0.TRC0.H0.X660nm+3w+led.TRS0&_nkw=660nm+3w+led&_sacat=0"), :target => "_blank", :class => "external") %>
          </li>
          <li>
            <%= t "diy.materials.solder" %><%= link_to((fa_icon "external-link"),("http://www.ebay.com/sch/i.html?_odkw=fujik+thermal+adhesive&_osacat=0&_from=R40&_trksid=p2045573.m570.l1313.TR0.TRC0.H0.Xsolder+1mm.TRS0&_nkw=solder+1mm&_sacat=0"), :target => "_blank", :class => "external") %>
          </li>
          <li>
            <%= t "diy.materials.fan" %><%= link_to((fa_icon "external-link"),("https://www.ivory.co.il/case_fan.html"), :target => "_blank", :class => "external") %>
          </li>
          <li>
            <%= t "diy.materials.terminalblock" %>
          </li>
          <li>
            <%= t "diy.materials.hanging" %>
          </li>
        </ol>
        </div>
        
        <div class="tools col-md-4 col-xs-12">
           <h3 ><%= t "diy.tools.header" %></h3>
          <ol class="outline">
          <li>
            <%= t "diy.tools.iron" %>
          </li>
          <li>
            <%= t "diy.tools.multimeter" %>
          </li>
          <li>
            <%= t "diy.tools.drill" %>
          </li>
        </ol>
        </div>
      
      </div>
      
      <div id="hover" class="hover-container">
        <img src="" alt="" />
      </div>
      <form class="row" id="diy-qa">
        <div class="makerQuestions col-xs-12 col-md-6">
          <h3>
            <%= t "maker.q.title" %>
          </h3>
          <ol class="diy-qa">
            <li class="">
            <p><%= t "maker.q.psv" %>:</p>
            <span class="unit">V</span> 
            <input type="number" step="0.1" id="ps_volt" class="psv" value="18" name="" /> 
            <span class="hovers laptop-psu" src="laptop-psu">?</span></li>
            <li>
            <p><%= t "maker.q.psi" %>:</p>
            <span class="unit">A</span> 
            <input type="number" step="0.1" id="ps_i" class="psi" value="3" name="" /> 
            <span class="hovers" src="laptop-psu">?</span></li>
            <li>
            <p><%= t "maker.q.ledfv" %>:</p>
            <span class="unit">fV</span> 
            <input type="number" step="0.1" id="led_fv" class="ledfv" value="2.2" name="" /> 
            <span class="hovers" src="laptop-psu">?</span></li>
            <li>
            <p><%= t "maker.q.ledi" %>:</p>
            <span class="unit">A</span> 
            <input type="number" step="0.1" id="led_i" class="ledi" value="0.3" name="" /> 
            <span class="hovers" src="laptop-psu">?</span></li>
            <li>
            <p><%= t "maker.q.fani" %>:</p>
            <span class="unit">A</span> 
            <input type="number" step="0.01" id="fan_i" class="fani" value="0.15" name="" /> 
            <span class="hovers" src="laptop-psu">?</span></li>
          </ol>
        </div>
        <div class="makerAnswers col-md-6">
          <h3>
            <%= t "maker.a.title" %>
          </h3>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>
                  <%= t ('diy.seriescalc.realledfv') %>
                </th>
                <th>
                  <%= t ('diy.seriescalc.totalLeds') %>
                </th>
                <th>
                  <%= t ('diy.seriescalc.maxparallel') %>
                </th>
                <th>
                  <%= t ('diy.seriescalc.wseries') %>
                </th>
                <th>
                  <%= t ('diy.seriescalc.fanresistorohm') %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="realledfv">fV</td>
                <td class="totalledsinrow"></td>
                <td class="totalrows"></td>
                <td class="wseries">W</td>
                <td class=""><span class="fanresistorohm"></span>&#8486;/<span class="fanresistorwatt"></span>W</td>
              </tr>
            </tbody>
          </table>
          <ul class="answerPoints">
            <li style="list-style: none; display: inline">
              <h4>
                <%= t "diy.points.label" %>
              </h4>
            </li>
            <li>
              <%= t "diy.points.psu" %>
            </li>
            <li>
              <%= t "diy.points.ledfv" %>
            </li>
            <li>
              <%= t "diy.points.calc" %>
            </li>
            <li>
              <%= t "diy.points.fan" %>
            </li>
          </ul>
          
         
          
        </div>
      </form>
    </section>
    <script>
    $("#diy input").change(function(){
//        alert("hello");
        var psv = $("#ps_volt").val();
        var psi = $("#ps_i").val();
        var ledfv = $("#led_fv").val();
        var ledi = $("#led_i").val();
        var fani = $("#fan_i").val();
        
        var psw = Math.ceil(psv * psi);
        var totalrows = Math.ceil(psi / ledi);
        var totalledsrow = Math.ceil(psv / ledfv);
        var realledfv = (psv / totalledsrow).toFixed(2);
        var wseries = Math.ceil(ledi *  psv);
        var fanresistorohm = Math.ceil((psv - 12) / fani);
        var fanresistorwatt = Math.ceil((psv - 12) * fani);
        
        $(".psw").html(psw);
        $(".totalrows").html(totalrows);
        $(".totalledsinrow").html(totalledsrow);
        $(".realledfv").html(realledfv);
        $(".wseries").html(wseries);
        $(".fanresistorohm").html(fanresistorohm);
        $(".fanresistorwatt").html(fanresistorwatt);
});
    
    $(".hovers").click(function(){
      $("#hover").show();
      //$("#hover").append().parents("li");
      <% Hover.all.each do |h| %>
        $("#hover img").prop("src","<%= image_path("hovers/#{h.image}") %>");
      <% end %>
    });
    
    $("#hover").click(function() {
      $(this).hide();
    });
</script>
</div>