<section id="gallery">

<h2 class="specialh2"><%= t ("#{@action.to_s}") %></h2>



    <div id="gallery">
    <div class="mainScreen">
    
    </div>
      <ul id='pikame'>
      
        <% @images.each do |image| %>
          <li class="imageBox col-xs-12 col-md-4 col-lg-3" >
            <%#= link_to image_tag("gallery/thumbs/#{image.split('/').last}", :class => "image-responsive"),image_path("gallery/#{image.split('/').last}") %>
            
            <div class="fb-like fb-like-gallery" data-href="<%= request.protocol + request.host_with_port + image_path("gallery/#{image.src}.jpg") %>" data-layout="button" data-action="like" data-show-faces="false" data-share="false">
            </div>
            <%= 
                link_to image_tag("gallery/thumbs/#{image.src}", :class => "img-responsive"),
                image_path("gallery/#{image.src}", :data => {:action => ""}), 
                {:class => "image-link no_ajaxify", :data => {:toggle=> "lightbox",:title => "#{image.description}", :gallery => "ledyair-gallery" }} 
              %>
            
          </li>
        <% end %>
        
      </ul>
    </div>
      
      
    <%#= link_to image_tag("gallery/thumbs/#{image.split('/').last}", :alt => "#{image.split('/').last}", :class => ""), image_path("gallery/#{image.split('/').last}")  %>

    
<script>


$('#gallery ul').magnificPopup({
  delegate: '.image-link', // child items selector, by clicking on it popup will open
  type: 'image'
  // other options
  
});

//$( '.image-link' ).swipebox();

</script>
    
</section>
<script>

/*
$(document).ready(function() {
	$('.popup-gallery').magnificPopup({
		delegate: 'a',
		type: 'image',
		tLoading: 'Loading image #%curr%...',
		mainClass: 'mfp-img-mobile',
		gallery: {
			enabled: true,
			navigateByImgClick: true,
			preload: [0,1] // Will preload 0 - before current, and 1 after the current image
		},
		image: {
			tError: '<a href="%url%">The image #%curr%</a> could not be loaded.',
			titleSrc: function(item) {
				return item.el.attr('title') + '<small>by Marsel Van Oosten</small>';
			}
		}
	});
});
*/

</script>