<section id="store" class="container-fluid" >
<h2 class="specialh2"><%= t "titles.#{@action}" %></h2>
<div class="products-list container" >
  <ul class="">
    <% if defined?(@lamps) then @lamps.each.map do |p| %>
      <li class="pull-left products-link">
        <%= link_to p.model, "javascript:void(0)" , :class => "items", :id => "#{p.model}-btn", :target => "#{p.model}" %> 
      </li>
    <% end %>
    <% end %>
  </ul>

  <div class="products-toggle">
    <%= link_to(fa_icon("table") + raw("<div class='hide-mobile products-toggle-label'> #{t "store.display-label.table"} </div>") , "", :class => "products-list-a") %>
  </div>

</div>

     
     
    
      
      <div class="front">
        <%= render "store/products_main" %>
      </div>
      <div class="back">
        <%= render "store/products_list" %>
      </div>
      
      
    </section>

<%= javascript_include_tag('store.js') %>


    <script>        
$(document).ready(function(){
    
    //$("#150W-2WL-btn").trigger("click");
    
    $(".products-toggle a").on("click",function(e){
    e.preventDefault();
    var previousfa = $(this).children("i").attr("class");
    //alert(previousfa);
    $(this).children("i").toggleClass("fa fa-th-list fa fa-table");
    
    if($(this).children("i").hasClass("fa-th-list")){
      $(this).children(".products-toggle-label").html("<%= t "store.display-label.list" %>");
    }
    else{
      $(this).children(".products-toggle-label").html("<%= t "store.display-label.table" %>");
    }
    
    
    $("#store").children().children().toggle("flip");
    $(".products-list ul").toggle("flip");
    
  });
  
});
</script>