﻿<div class="slick-prev"></div>
<div class="slick-next"></div>
<div id="carousel">

  <%= render "slides/wlpower"%>
  <%= render "slides/anywhere"%>
  <%= render "slides/handmade"%>
  <%= render "slides/diy"%>
  
  
</div>
<script>
var locale = '<%= I18n.locale %>';
      //alert(locale);
      
      //$("html").attr("lang", locale);                 //Setting html "lang"
      
      if(locale == 'en'){          //Setting html "dir" according to locale
        var rtl = false;
        
      }
      else{
        var rtl = true;
      }
      
  $("#carousel").slick({
  dots: true,
  speed: 300,
  slidesToShow: 1,
  slidesToScroll: 1,
  adaptiveHeight: false,
  rtl: rtl,
  appendArrows: $("#carousel")
});

</script>