<!DOCTYPE html>
<html>
    <head>
        <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <p>You have received the following email from <%= simple_format(
        "Name: #{ @name } <br> 
        Email: #{ @email } <br> 
        Phone: #{ @phone } <br> "
        ) %></p>
        <p><%= simple_format(@body) %></p>
    </body>
</html>