<table summary="navigation form fields">

  <tr>
    <th><%= f.label(:site_id) %></th>
    <td><%= f.text_field(:site_id) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
    <tr>
    <th><%= f.label(:controller) %></th>
    <td><%= f.text_field(:controller) %></td>
  </tr>
  <tr>
    <th><%= f.label(:href) %></th>
    <td><%= f.text_field(:href) %></td>
  </tr>
    <tr>
    <th><%= f.label(:order) %></th>
    <td><%= f.text_field(:order) %></td>
  </tr>
      <tr>
    <th><%= f.label(:display) %></th>
    <td><%= f.check_box(:display) %></td>
  </tr>

</table>
