<script type="text/javascript">
$(document).ready(function(){
  setTimeout(function(){
    $('#flash').remove();
  }, 5000);
 })
</script>
<div id="flash">
<%=  flash[:notice] if  flash[:notice] %>
</div>


<%= link_to "Back to list", :action => 'index' %>
<div class="navigations edit">
  <h2>Edit Navigation</h2>

  <%= form_for(:navigation, :url =>{ :action => 'update', :id => @navigation.id}, method: "patch" ) do |f| %>

   <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Update Navigation") %>
    </div>

  <% end %>
</div>