

<section id="gallery">
<h2><%= @title %></h2>


<% @images.each do |image| %>
<div class="img-cube">
  <%= link_to image_tag("gallery/thumbs/#{image.split('/').last}", :alt => "#{image.split('/').last}"), image_path("gallery/#{image.split('/').last}"), :target => "_blank"  %>
</div>
<% end %>


</section>