
<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">

          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to("LED Yair", admin_root_path, :class => "navbar-brand") %>
        </div>
        <div id="navbar" class="collapse navbar-collapse" aria-expanded="false" >
          <ul class="nav nav-pills">
            
              <li class=""><%= link_to("Sites", admin_sites_path) %></li>
              <li class=""><%= link_to("Pages", admin_pages_path) %></li>
              <li class=""><%= link_to("Navigation", admin_navigations_path) %></li>
              <li class=""><%= link_to("Gallery", admin_media_path) %></li>

            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>