<table summary="product form fields">
  

  <tr>
    <th><%= f.label(:product_category_id) %></th>
    <td><%= f.collection_select(:product_category_id, @product_categories, :id, :name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:name) %></th>
    <td><%= f.text_field(:name) %></td>
  </tr>
  <tr>
    <th><%= f.label(:description) %></th>
    <td><%= f.text_area(:description) %></td>
  </tr>
  <tr>
    <th><%= f.label(:price) %></th>
    <td><%= f.number_field(:price) %></td>
  </tr>
  <tr>
    <th><%= f.label(:width) %></th>
    <td><%= f.number_field(:width) %></td>
  </tr><tr>
    <th><%= f.label(:length) %></th>
    <td><%= f.number_field(:length) %></td>
  </tr>
  <tr>
    <th><%= f.label(:led_count) %></th>
    <td><%= f.number_field(:led_count) %></td>
  </tr>
  <tr>
    <th><%= f.label(:leds) %></th>
    <td><%= f.collection_check_boxes :leds, @leds, :id, :name %></td>
  </tr>
  <tr>
    <th><%= f.label(:lighting_area) %></th>
    <td><%= f.text_field(:lighting_area) %></td>
  </tr>
  <tr>
    <th><%= f.label(:watt) %></th>
    <td><%= f.number_field(:watt) %></td>
  </tr>
  <tr>
    <th><%= f.label(:stock) %></th>
    <td><%= f.number_field(:stock) %></td>
  </tr>
  
  
  
</table>