<%= form_for(:product, :url => { :action => 'update', :id => @product.id}, method: "patch" ) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons">
  <%= submit_tag("Update product") %>
</div>

<% end %>