<style>
th,td {
  padding:0.5em;
}
</style>
<table border="1">

  <tr>
    <th></th><th>Category</th><th>Name</th><th>Price</th><th>Dimensions</th><th>Watt</th>
    <th>Stock</th><th>Updated</th><th>Actions</th>
  </tr>
  <% @products.each do |p| %>
    <tr>
      <td><%= p.id %></td>
    <td><%= p.product_category.name %></td>
    <td><%= link_to(p.name, admin_product_path(p)) %></td>
    <td><%= p.price %></td>
      <td><%= p.width %></td>
      <td><%= p.length %></td>
      <td><%= p.watt %></td>
<td><%= p.stock %></td>
      <td><%= p.updated_at %></td>
      <td><%= link_to( "Edit", edit_admin_product_path(p)) %></td>
    </tr>  
  <% end %>
  
</table>
<%= link_to("Add product", new_admin_product_path) %>