<%= form_for(:product, :url => {:action => "create"}) do |f| %>

<%= render(:partial => "form", :locals => {:f => f}) %>

<div class="form-buttons">
  <%= submit_tag("Create product") %>
</div>
<% end %>