  <table class="table">
    <tr>
      <th>Lamp</th>
      <th>LED</th>
      <th>WL</th>
      <th>Count</th>
      <th>Watt</th>
      <th>Cost</th>
    </tr>
    <tbody>
     
      <tr>
        <td><%= @product.name %></td>
        <td></td>
          <% @ledconf.map do |conf| %>
            <td><%= conf.wl %></td>
            <td><%= conf.quantity %></td>
          <% end %>
      </tr>
    </tbody>
  </table>
