<%= simple_form_for(@joiner) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    Lamp: <%= f.collection_select(:lamp_id,@lamps, :id, :model )  %>
    Constituent: <%= f.collection_select(:constituent_id, @constituents, :id, :name)  %>
    How much: <%= f.input :sum %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
