<p id="notice"><%= notice %></p>

<h1>Listing Joiners</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Lamp</th>
      <th>Constituent</th>
      <th>Cost ILS</th>
      <th>Cost USD</th>
      <th>Sum</th>
      <th>Total constituent cost ILS</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joiners.each do |joiner| %>
      <tr>
        <td><%= joiner.lamp.model %></td>
        <td><%= joiner.constituent.name %></td>
        <td><%= joiner.constituent.cost_ils %></td>
        <td><%= joiner.constituent.cost_usd %></td>
        <td><%= joiner.sum %></td>
        <td><%= joiner.sum * joiner.constituent.cost_ils %></td>
        <td><%= link_to 'Show', joiner %></td>
        <td><%= link_to 'Edit', edit_joiner_path(joiner) %></td>
        <td><%= link_to 'Destroy', joiner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Joiner', new_joiner_path %>
