<p id="notice"><%= notice %></p>

<p>
  <strong>Lamp:</strong>
  <%= @joiner.lamp_id %>
</p>

<p>
  <strong>Constituent:</strong>
  <%= @joiner.constituent_id %>
</p>

<p>
  <strong>Sum:</strong>
  <%= @joiner.sum %>
</p>

<%= link_to 'Edit', edit_joiner_path(@joiner) %> |
<%= link_to 'Back', joiners_path %>
