<section id="about" >
<h2><%= @title %></h2>
<div class="text col-md-6">
<p><i><%= @appname %></i> is a novice LED grow light workshop from the Holy land, Israel, that puts it's emphasis on
honesty, integrity, customer satisfaction and affordable products.</p>
<p>We are no electronics wizards, we buy our stock from ebay in bulk after doing some homework, we then assemble everything together with much love, having in mind that this piece of lightware will grow life.</p>
<p>Therefore, we make sure it is stable, safe, easy to use and simple</p>
<p>Feel free contacting us or checking out our gallery and store to see what we are about</p>
<p>Cheers!</p>
</div>
<div class="feature-img col-md-6 pull-right">
<%= image_tag "led-ledyair-growlight-60x40-150w.jpg" %>
</div>
</section>