  @media screen and (max-width: 800px) {
    
      .blog_nav, .blog_main{
        width:100% !important;
      }
    
}
#blog{

  .blog_nav{
      width: 26%;
      position:relative;
      right:15px;
      top: 20px;
    ul{
      padding: 0 0 0 41px;
      .active{
        border-right:5px solid #69087F;
        &:hover{
          border-right:5px solid #69087F;
        }
        
        }
      li{
        padding: 0.3em 0.5em;
        background-color: #99730F;
        margin: 0 0 1em 0;
        font-size: 0.8em;
        color: aliceblue;
        list-style: none;
        list-style: #000;
        transition: all 0.3s ease;
        box-shadow: 2px 2px 6px black;
        
        &:hover{
          border-right:5px solid white;
        }
        a{
          color:white;
          display: block;
          cursor: pointer;
          &:hover{
            text-decoration:none;
          }
        } /*a*/
      } /*li*/
    } /*ul*/
  } /*blog_nav*/

  .blog_main{
      width: 73%;
      padding:  0 2em;

      img{
        max-width:100%;
      }
  }
}