#diy{
  
  input {
    background-color: $color1;
    padding:0.5em;
    width:5em;
    
   }
  .right{float:right;}
  .tools{}
  .materials{};
  .materials, .tools{
    float:right;
  }
  
    .outline{
      outline: solid;
    }
  #resistorNeeded {
    outline:solid grey;
  }
  
   .answerPoints{
    border:solid;
   }
  .makerQuestions{
    float:right;
    ol{
      
        li{
          
          .unit {
              line-height: 3em;
              margin: 0 0.2em;
              vertical-align: bottom;
              color: rgb(152, 17, 144);
          }
          input{
              padding: 0.1em;
              width: 6em;
              font-size: 0.8em;
              letter-spacing: 4px;
              color:#000;
                &:focus{
                    border: none;
                }
              
            
          }
        }
    }
  } /*end makerQuestions*/
  
  .makerAnswers{
    float:right;
    h3{
    }
    
    p{
      line-height:2em;
      span{
        min-width:1em;
        padding:0.1em;
        margin:0 0.5em;
        background-color: rgb(6, 20, 4);
        padding: 0.1em 0.5em;
        border-radius: 0.4em;
        
      }
      
      .unit{
          outline:0px solid;
          padding:0;
          margin:0;
          color: rgb(152, 17, 144);
        }
    }
  }
  
  .laptop-psu{
    background-image:"<%= image_path("hovers/laptop-psu.jpg") %>";
  }
  
  .hovers{
    border-bottom: 1px solid;
    margin:5px;
    &:hover{
      cursor:pointer;
    }
  
  }
  .hover-container{
      
      position: relative;
      right: 44px;
      top: 0px;
  }
  
  #hover{
      display:none;
    img{
      max-width:300px;
    }
  }
}

.diy-qa {
  outline:solid;
}

form#diy-qa h3, .materials h3, .tools h3{
  background-color: $color1;
  color:#000;
  
  padding: 0.3em;
}