.footer {


  position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.3rem;
    background-color: #efefef;
    text-align: center;
    display: table;
    width: 100%;
    color: #777777;
    
  .footerVine1{
    background-image: url(<%= asset_url("footerVine1.png") %>);
    background-position: right bottom;
    background-repeat: no-repeat;
    position: absolute;
    width: 112px;
    height: 247px;
    right: 77px;
    bottom: 0px;
    opacity: 0.7;
    z-index: 0;
  }
  
  .text-muted{
        float: right;
    margin: 0 auto;
    font-size: 1em;
    text-align:right;
  }
  
  
  
    @media screen and (max-width: 990px) {
      .text-muted{
        text-align:center;
      }
      .number{
        margin:0.5em 0;
      }
      
  }
  
  @media screen and (min-width: 991px) {
    .social-btns a {
        float: left;
      }
  }
  
  
   .social-btns {
        font-size: 1.5em;
        float:left;
        position: relative;
    z-index: 1;
    position: relative;
    z-index: 1;
    line-height: 100%;
    vertical-align: middle;
    /* margin: auto; */
    display: inline;
        
        a {
            padding: 0 0.3em !important;
            color: #6D696D;
            }
        
        .fb {
          &:hover {
            color: #405D9A !important;
          }
        }
        
        .yt {
          &:hover {
            color: #cc181e !important;
          }
        }
        
        .bb {
          &:hover {
            color: #2e3d54 !important;
          } 
         }
         
         .gp {
          &:hover {
            color: #2e3d54 !important;
          } 
         }
         
         .tw {
          &:hover {
            color: #0084B4 !important;
          } 
         }
    }
    
  
}