$header-height: 108px;


header{
  height:$header-height;
  background-color:$headerbg;
  border-bottom: 4px solid rgb(245, 211, 15);
  /*background: linear-gradient(90deg, $color1, #fff);*/
  top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    margin-bottom: 1em;
    zoom: 0.7;
  &:hover{
    
    
  }
 
  .logo{
    float: right;
    /* line-height: 100px; */
    height: 100%;
    /* background-color: #69A234; */
    padding: 0.7em;
    
    a{
    
      img{
          margin: auto 10px;
          float:right;
      }
    }
  }
  
  nav{
    float: right;
    height: 100%;
    line-height: 100px;
    height: 100%;

    
    ul{
      height: 100%;
      width:100%;
      float:right;
      li.active{
        background-color: #000000;
        transition: all 0.3s ease;
        border-top: 7px solid #F5D30F;
        border-bottom: 3px solid #000000;
    
    &:hover{
        background-color: #000000;
        transition: all 0.3s ease;
        border-top: 7px solid #F5D30F;
        border-bottom: 3px solid #000000;
    }
        a{
              color: #F5D30F;
    text-decoration: none;
    position: relative;
    margin-top: -10px;
          &:hover{
                color: #F5D30F;
          }  
        }
      }
      li.lang-links{
          width: 60px;
          display:none;
            
          a{
            display: table-row;
            height: 1em;
                margin: 5px 0;
                text-align: center;
              &:hover{
                
              }
            img{
              height: 21px;
              display: inherit;
            }
          }
        } /*lang links*/
        
      li{
        float: right;
    list-style: none;
    /* line-height: 3.5em; */
    height: 100%;
    padding: 0 1em;
    transition: all 0.3s ease;
    display: table;
        &:hover{
          background-color: rgb(224, 152, 0);
          border-bottom: 7px solid #F5D30F;
        }
        /*
        .vine1{
        background: url(<%= asset_url("underlineVine1.png") %>) no-repeat 53% 120%;
        }
        .vine12{
        background: url(<%= asset_url("underlineVine1.png") %>) no-repeat 59% 111%;
        }
        .vine3{
        background: url(<%= asset_url("underlineVine3.png") %>) no-repeat 99% 99%;
        }
        .vine32{
        background: url(<%= asset_url("underlineVine3.png") %>) no-repeat 36% 93%;
        }
        .vine2{
        background: url(<%= asset_url("underlineVine2.png") %>) no-repeat 71% 100%;
        }
        */
        a{
          text-align: right;
    font-size: 2em;
    color: #69B677;
    text-decoration: none;
    /* padding-bottom: 35px; */
    white-space: nowrap;
    text-shadow: 2px 1px 5px black;
    transition: all 0.3s ease;
    vertical-align: middle;
    display: inline-block;
          
          &:hover{
          color: #69B677;
          text-decoration: none;
          }
        }
        
        a.en-link,a.he-link,a.fe-link{
          display:table-row;
          width:100%;
          float:right;
          text-align: center;
          padding:0;
          height: 1em;
          
          img{
            height:20px;
          }
        }/*lang links*/
      }
    } /*ul*/
    
    #nav-xs{
    
    }
  }
}




.slicknav_menu {
	display:none;
}

@media screen and (min-width: 971px) {
.hide-large{
    display:none !important;
  }
}
@media screen and (max-width: 970px) {
  header {
		display:none;
    
	}
  
  
	
	.slicknav_menu {
		display:block;
	}
}