[lang="he"],[lang="fe"]{
  body {
    font-family:$font-he;
  }
  .social-btns{
}
  th {
  text-align: right;
}
  .left {
    float:right;
  }
  .contact-form  {
    label,input{float:right;}
}
  
  .upper {
    h3{
      float:left;
    }
    .button{
      float:right;
    }
  }
  
  .text{
    float:right;
  }
  
  .alert-notice {
    text-align: right;
  }
  
  .navbar-brand {
    float:right;
  }
  
  
  .buttons {
    float:right
  }
  
  .upper h3  {
  font-family:$font !important;
  }
  
  .lang-links {
    
   }
   
   #navbar ul {
    
     li {
       
     }
   }
}
