@media screen and (max-width: 768px) {
  .nav li a {
      padding: 10px 5px;
    }
    
    #navbar ul{
      padding-right: 0;
      width: 90%;
      li {
          text-align: right;
          margin: 0;
      }
  }
  
  footer > * {
    text-align:center !important;
    float:none !important;
  }
}