.admin{
input[type="submit"] {
    position: relative;
    top: 1em;
    right: 2em;
    padding: 0.4em 1em;
}
.main-content{
    position: relative;
    top: 4em;

    .login-form{

      input{
        background-color: #000;
      }      
    }
}
table {
  color:white;
  
  tr {
    th {
      text-align:center !important;
      
      label {
        color:white;
      }
    }
    td{
      input, textarea, select {
        color:black;
        
        
      }
      textarea {
          width:600px;
          height:500px;
        }
    }
  }
}

}