.admin{



  .main-content {
    position: relative;
    top: 4em; }

  table {
    color: white; 
    tr th {
      text-align: center !important; }
      tr th label {
        color: white; }
     tr td input,  tr td textarea,  tr td select {
      color: black; }
     tr td textarea {
      width: 600px;
      height: 500px; }
    }

}