.static100 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0; }

#gallery {
  margin: 20px auto 0; }
  #gallery ul {
    overflow: hidden; }
    #gallery ul [lang="he"] li, #gallery ul [lang="fe"] li {
      float: right !important; }
    #gallery ul li {
      float: left;
      padding: 3px; }
      #gallery ul li a img {
        width: 100%; }

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }

.img-box {
  position: relative;
  width: 60%;
  height: 70%;
  margin: 20px auto;
  padding: 0 80px;
  text-align: center; }
  .img-box a {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    font-size: 80px;
    text-align: center;
    color: #fff;
    cursor: pointer; }

.img-box .next-image {
  right: 0; }

.img-box .prev-image {
  left: 0; }

.img-box > div {
  width: 100%;
  height: 100%;
  overflow: hidden; }

.img-box .img-container {
  background: url(../img/loader.gif) no-repeat center center scroll; }

.img-box .img-container img {
  display: none; }

.overlay > ul {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
  background-color: #000;
  overflow: hidden; }

.overlay > ul li {
  float: left;
  width: 6%;
  margin-left: 2%;
  border: 1px solid transparent; }

.overlay > ul li.active-img {
  border-color: yellow; }

.overlay img {
  max-width: 100%; }

/*# sourceMappingURL=gallery.css.css.map */
