﻿#carousel{
    margin: 0 auto;
    outline: 3px solid rgba(255, 255, 255, 0.68);
    background-color: #000;
    color: #FFF;
    max-width: 960px;
    
    &:hover{
      cursor: pointer;
    }
  h2 {
        text-align: right;
    margin: 0;
    padding: 0.3em 0;
    width:100%;
        font-size: 1.5em;
  }
  img{
        float: left;
        max-width:50%;
            padding: 1em;
  }
  
  @media screen and (max-width: 800px) {
    .slick-slide{
      padding: 0 2em !important;
    }
    .slideText, img{
        width: 100% !important;
        float:none;
        margin: 0 auto;
    }
    body {
    padding-bottom: 10em !important;
}
    
}
  
  .slick-prev, .slick-next {
    position: absolute;
    background: rgba(255, 255, 255, 0.36);
    top: 10px;
    width: 8%;
    height: 100%;
    z-index: 3;
}

.slick-prev{
  right:0;
}
.slick-next{
  left:0;
}
  .carouselLink{
    display:block;
    width:100%;
    height:100%;
    cursor:pointer;
    
  }
  .slick-slide{
      padding: 0 6em;
    &:focus{
      outline:none;
    }
  }
.slideText{
    padding: 1em 1em 0 0;
    line-height: 1.8em;
    float: right;
    width: 40%;
    font-size: 1.3em;
    letter-spacing: 0.2em;
}

}