$footer-height: 60px;
$font:'Noto Sans';
$font-he:'Alef';
$body-bg: #000;
$text1: #fff;
$headerbg:rgba(245, 211, 15, 0.35);
$color1:rgb(245, 211, 15); /*brown*/
$color2:#69A234; /*green*/

[lang="he"],[lang="fe"]{
  body {
    font-family:$font-he;
  }
}  
@media screen and (min-width: 801px) {
    #main {
    
  }   
}
  @media screen and (max-width: 800px) {
    
    body    {
        padding-bottom: 10em !important;
    }
    
}
html {
  height: 100%;
  box-sizing: border-box;
}

.right{
  float:right;
}
.left{
  float:left;
}
body {
	font-size:18px;
	font-family: $font;
  max-width: 100% !important;
  position: relative;
  margin: 0;
  padding-bottom: 100px;
  min-height: 100%;
  
  th{
    text-align:right;
  }
  label{
    float:right;
  }
  
  input[type="submit"] {
    float: right;
}

  [data-toggle="tooltip"]{
    cursor:help;
  }
  
  .tooltip{
    font-size:0.8em;
  }
  section{
    font-size:1.3em;
    
    h3{
      font-size:1.2em;
      ol{
            font-size: 1.1em;
      }
    }
  }
.specialh2{
      /* background: linear-gradient(90deg, #99730f -1%, #6bb77d 47%, white 92%, #c52fe3 22%); */
    /* border-top: rgba(123, 54, 98, 0.4) 2px solid; */
    /* border-bottom: #E530F1 2px solid; */
    box-shadow: 0px 0px 6px 5px rgba(245, 211, 15, 0.44);
    /* width: 100%; */
        padding: 0.3em;
    font-size: 1.3em;
    color: #F5D30F;
    border-bottom: none;
    margin-bottom: 1em;
    float: right;
    text-shadow: 1px 1px 2px #000000;
}  
h2{
  width: 100%;
    font-size: 1.8em;
    border-bottom: 2px solid #F5D30F;
     
}
  }

  div.slick-next, div.slick-prev{display:none;}
.well {
  padding: 0px 25px;
  width: 100%;
}

/* center Navigation*/


      
    #main{
      position: relative;
      max-width:1420px;
      z-index: 2;
      margin-bottom: 2em;
      .well{
        padding:1em;
            margin: 0.5em auto;
      }
}

.main-content {
		
    padding:0;
			.well {
				
			}
}


section {
	
}
/* Sticky footer styles
-------------------------------------------------- */


*,
*:before,
*:after {
  box-sizing: inherit;
}

@import "footer";

.feature-img {
	padding:0 1em 1em 1em;
	
	img {
    width: 100%;
	}
}

th {
  vertical-align:middle !important;
  font-size: 0.8em;
}
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container{
  width: auto;
  max-width:1190px !important;
  padding: 0 15px;
}

/* Gallery */
#gallery .img-cube {
  display: inline-block !important;
  padding: 0.6em;
  outline: solid 1px rgb(255, 255, 255);
  margin: 1em;
    img {
    float: left;
    width:150px !important;
    height:150px !important;
    }
}

#construction {
  text-align:center;
}

#loading{ 
   background-image: url("<%= image_path("loading.gif") %>");
  background-repeat:no-repeat;
  background-position:center;
  width:100%;
  height:100%;
   
   text-align:center;


}
.loading-show{
  background-image: url("<%= image_url('loading.gif') %>");
  display:block;
}

.loading-hide{
display:none;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  margin-bottom: 15px;
  @include box_sizing;
    
  }

  
  .paypal-btn {
    width: 200px !important;
  }
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}


.gravatar_edit {
  margin-top: 15px;
}

/* Store */



 
.main-image img{
  width:100%;
  max-height: 500px;
}

.mini-image{
  padding:0;
img {
    width:100%;
    height: 100px;
  }
}

.row ul {
  /*margin-left:1em;*/
}


.product-details {
  
  
  ul {
        margin:0;
        padding: 0;
      li {
        list-style: none;
      }
    
    }
}

/* store end */

/* Product show */

.product-show {
  h1 {
    
  }
}

/* Contact */
.hidden { display: none; }

/*flash*/

.alert-error {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-alert {
background-color: #f2dede;
border-color: #eed3d7;
color: #b94a48;
text-align: left;
}

.alert-success {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.alert-notice {
background-color: #dff0d8;
border-color: #d6e9c6;
color: #468847;
text-align: left;
}

.cart-icon {
  font-size: 1.3em;
}

.radius-0{
  border-radius:0;
}

.current {
  border:1px solid;
}
@media screen and (max-width: 390px) {
    .hide-mobile {
        display:none;
    }
    
    .nav > li {
      width:100%;
      border-bottom:0px solid;
      border-right:0.5em;
    }
    
    .lang-links {
      
    }
    [lang="he"] , [lang="fe"]{
      .brand {
        float:left !important;
      }
      
      .lang-links{
       
      }
      #navbar ul li{
        
      }
      
    }
  .product-front {
  float: left !important;
}
  
    section {
      
    }
    
       .buttons {
        a.btn{
          width: 2em;
          padding: 0 auto;
          font-size: 1.5em;
          line-height: 2.2em;
          font-size: 1.2em;
          &::active {
            outline: inset rgb(206, 216, 212) 3px;
          }
            i {
              line-height: 1.9em;
              margin: 0 auto;
              width: 100%;
              padding: 0 auto;
            }
        }
    }

    
}

@media screen and (max-width: 500px) {
  .product-header{
      font-size: 0.6em !important;
    }
    
    
    
    .products-list ul li {
      font-size:0.7em;
    }
    #gallery .img-cube img {
  width: 50px !important;
  height: 50px !important;
}
top-head{
  padding:0;
}
}



/*
.active {
  color: #68dd18 !important;
  border-bottom: solid 4px !important;
  &:hover {
    border:0px !important;
    
  }
}
*/

#600w-2wl-costs {

}

.divider{
          border-bottom:2px solid rgb(51, 122, 183);
          margin-bottom:1.5em;
        }
        
.btn-hover {
background-color: dimgrey !important;
color: #FFFFFF !important;
border-bottom:solid 2px;
  &:hover{
    background-color: dimgrey !important;
    color: #FFFFFF !important;
  }
}

.buy-text {
  ul{
    padding:0;
    li {
      list-style:none;
      line-height:2em;
      list-style-type:circle;
      i {
        font-size:1.2em;
      }
    }
  }
  
}

.wl440nm {
  color:blue;
}

.wl660nm {
  color:red;
}

.wl400 {
  color:violet;
}

body {
      color:$text1;
        background-color: $body-bg;
    .product-front{
      table {
      color:black;
      }
      
    }
}

.lower .left {
  color:black;
  
  div {
    ul {
    padding:0;
    margin:0;
    list-style-type:decimal;
    
      li {
      
      }
    }
  }
  .snipcart-add-item {
    margin:1em 0;
    font-size:1.2em;
  }
}

.text{
  font-size:1.2em;
}

  .par-chart {
    width: 100%;
    img{
      max-width:100%;
    }
  }
  


  
  .fa-attr{
    width: 2em;
    

  }
  
  .feature-img {
    float:right;
  }


  
.center {
  text-align:center;
  
  form {
    display:inline-block;
  }
}

.contact-form  {
   /* label,input{float:left;}*/
}

h3 .product_header {
  font-family:$font;
}

.totals {
  font-weight:bold;
  border-top:solid black;
}

a.contactphone{
  color:white;
  text-decoration:underline;
  &:hover{
    font-weight:bold;
  }
}

#console {
  direction: ltr;
}

.construction {
  /* width: 5em; */
  /* height: 5em; */
  /* outline: solid white; */
  position: fixed;
  bottom: 4em;
  right: 0;
  padding: 1em;
  background-color: rgba(245, 226, 22,0.8);
  z-index: 5;
  color: black;
  cursor: pointer;
}


    .ie{
      text-align:center;
      
    }
    
    .admin{
    
      input,textarea,form{
        /*color:black;*/
      }
    
    }
    
    .carousel{
      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        position: absolute;
        -webkit-transform-style: preserve-3d;
        -ms-transform-style: preserve-3d;
        transform-style: preserve-3d;
        li{
          float: left;
        }
      }
    
    }