.static100{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  margin:0;
}
@media (max-width: 992px){
  .gallery {
      margin-bottom: 2em;
  }
}
.fb-like-gallery{
      position: absolute !important;
    bottom: 28px;
    right: 28px;
    opacity: 0.8
}
#gallery {
	margin: auto 0;

    ul {
    padding:0;
      [lang="he"] , [lang="fe"]{
      li {
        float:right !important;
      }
    }
      li {
        float: right;
        padding: 1.3em;
        list-style: none;
        
        &:hover{
          
        }
        /*box-shadow: -12px 14px 20px 0px rgba(0,0,0,0.45);
        outline: solid 8px rgb(153, 115, 15);*/
           a{
            img{
              box-shadow: 0px 0px 11px 3px rgb(93, 83, 34);
              width:100%;
              height: 100%;
              }
           }
        &:nth-child(4n+1) {
          
        }
    }
  }
}

 

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.6);
}

.img-box {
	position: relative;
	width: 60%;
	height: 70%;
	margin: 20px auto;
	padding: 0 80px;
  text-align:center;
  
    a {
    position: absolute;
    top: 50%;
    width: 80px;
    height: 80px;
    margin-top: -40px;
    font-size: 80px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
}


.img-box .next-image {
	right: 0;
}

.img-box .prev-image {
	left: 0;
}

.img-box > div  {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.img-box .img-container {
	background: url(../img/loader.gif) no-repeat center center scroll;
}

.img-box .img-container img {
	display: none;
}

.overlay > ul {
	position: absolute;
	left: 0;
	bottom: 0;
	padding: 20px;
	background-color: #000;
	overflow: hidden;
}

.overlay > ul li {
	float: left;
	width: 6%;
	margin-left: 2%;
	border: 1px solid transparent;
}

.overlay > ul li.active-img {
	border-color: yellow;
}

.overlay img {
	max-width: 100%;
}

.modal-header{ 
  .close {
    font-size: 3em;
  }
  
  h4 {
    font-size:2em;
    text-align:left;
  }
}
.modal-title {
  color:#000;
}

ekko-lightbox-nav-overlay {
  a{
    &:hover{
    
    }
  }
}