<%= simple_form_for(:user, :url =>  admin_users_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, label: I18n.t("simple_form.labels.user.username") %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, label: I18n.t('simple_form.labels.user.password_confirm') %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Signup" %>
  </div>
<% end %>
