<%= simple_form_for(@join) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :lamp_id %>
    <%= f.input :constituent_id %>
    <%= f.input :constituent_count %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
