<p id="notice"><%= notice %></p>

<h1>Listing Joins</h1>

<table>
  <thead>
    <tr>
      <th>Lamp</th>
      <th>Constituent</th>
      <th>Constituent count</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @joins.each do |join| %>
      <tr>
        <td><%= join.lamp_id %></td>
        <td><%= join.constituent_id %></td>
        <td><%= join.constituent_count %></td>
        <td><%= link_to 'Show', join %></td>
        <td><%= link_to 'Edit', edit_join_path(join) %></td>
        <td><%= link_to 'Destroy', join, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Join', new_join_path %>
