<p id="notice"><%= notice %></p>

<p>
  <strong>Lamp:</strong>
  <%= @join.lamp_id %>
</p>

<p>
  <strong>Constituent:</strong>
  <%= @join.constituent_id %>
</p>

<p>
  <strong>Constituent count:</strong>
  <%= @join.constituent_count %>
</p>

<%= link_to 'Edit', edit_join_path(@join) %> |
<%= link_to 'Back', joins_path %>
