<section class="product-show">

<% Array(@product).each do |p| %>
<h1 class="text-center"><%= p.name %></h1>
<p><%= p.description %></p>

            <div class="product-images col-md-6 pull-right">
            <% p.product_images.each do |img| %>
              <div class="col-md-4 col-xs-4 mini-image">
            <%= link_to image_tag(img.src), image_path(img.src), :target => "_blank" %>
            </div>
            <% end %>
            </div>
            
        <div class="row product-details col-md-8">
          <ul>
            <li class="col-md-12">Dimensions: 
            <span class="pull-right">
              <%= p.dimensions %>
            </span></li>
            <li class="col-md-12"># of LEDs: 
            <span class="pull-right">
              <%= p.led_count %>
            </span></li>
            <li class="col-md-12">Wavelengths: 
            <span class="pull-right">
              <%= p.wavelengths %>
            </span></li>
            <li class="col-md-12">Effective lighting area: 
            <span class="pull-right">
              <%= p.lighting_area%>
            </span></li>
          </ul>
        </div>
        
      <div class="buttons col-md-12">
        
        <%#= link_to("Add", "#", :class => "btn btn-primary snipcart-add-item", :data => {
        "item-id" => p.id,
        "item-name" => p.name,
        "item-price" => p.price,
        "item-url" => request.original_url,
        "item-description" => p.description,
        "item-taxable" => "false",
        "item-image" => image_url(p.product_images.first.src)
        }
        
        )  %>
           <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
            <input type="hidden" name="cmd" value="_xclick"> 
            <input type="hidden" name="business" value="shop@ledyair.com"> 
            <input type="hidden" name="lc" value="US"> 
            <input type="hidden" name="item_name" value="<%= p.name %>"> 
            <input type="hidden" name="amount" value="<%= p.price %>"> 
            <input type="hidden" name="currency_code" value="ILS"> 
            <input type="hidden" name="button_subtype" value="products"> 
            <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHosted"> 
            <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"> 
            <img alt="" border="0" src="https://www.paypal.com/en_US/i/scr/pixel.gif" width="1" height="1" class="paypal-btn"> 
            </form>
      </div>
     


<% end %>
</section>