<h1>Sites#index</h1>
<%= link_to("Add new site", :action => 'new') %>


<table>
<tr>
  <th>ID</th>
  <th>Name</th>
  <th>url</th>
  <th>Description</th>
  <th>Created</th>
  <th>Modified</th>
</tr>


<% @sites.each do |site| %>
<tr>
  <td><%= site.id %></td>
  <td><%= site.name %></td>
  <td><%= site.url %></td>
  <td><%= site.description %></td>
  <td><%= site.created_at %></td>
  <td><%= site.updated_at %></td>
</tr>

<% end %>


</table>