<div class="sites new">
  <h2>Create Site</h2>

  <%= form_for(:site, :action => 'create') do |f| %>

   <%= render(:partial => 'form', :locals => {:f => f}) %>

    <div class="form-buttons">
      <%= submit_tag("Create Site") %>
    </div>

  <% end %>
</div>