<div id="<%= p.model %>-buy" class="info-content <%= p.model %>-buy hide">
  <ul>
    <li><strong class="bold"><%= t "store.buy.title.returns" %>:</strong><br><%= t "store.buy.body.returns" %></li>
    <li><strong><%= t "store.buy.title.paymethods" %>:</strong><br><%= t "store.buy.body.paymethods" %></li>
    <li><strong><%= t "store.buy.title.security" %>:</strong><br><%= (t "store.buy.body.security") %>. <i><%= (t "store.buy.body.privacy") %></i></li>
    <li><strong><%= t "store.buy.title.delivery" %>:</strong><br><%= (t "store.buy.body.delivery") %></li>
  </ul>
  
<form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="paypal">
  <input type="hidden" name="cmd" value="_cart">
  <input type="hidden" name="add" value="1">
  <input type="hidden" name="business" value="shop@ledyair.com">
  <input type="hidden" name="item_name" value="<%= p.model %>">
  <input type="hidden" name="item_number" value="<%= p.id %>">
  <input type="hidden" name="amount" value="<%= p.sell %>">
  <input type="hidden" name="shipping" value="0">
  <input type="hidden" name="shipping2" value="0">
  <input type="hidden" name="handling" value="0">
  <input type="hidden" name="currency_code" value="ILS">
  <input type="hidden" name="return" value="http://ysinc.co/thank-you">
  <input type="hidden" name="undefined_quantity" value="1">
  <input type="image" src="http://www.paypalobjects.com/<%= I18n.locale == :he || I18n.locale == :fe ? "he_IL" : "en_US" %>/i/btn/x-click-but22.gif" border="0" name="submit" width="87" height="23" alt="Make payments with PayPal - it's fast, free and secure!">
</form>
  
  
<%#=  link_to( (fa_icon "cart-plus") + content_tag(:span, content_tag(:span, (t "store.addtocart")), class: "hide-mobile") , "#", :class => "btn btn-primary snipcart-add-item", :data => {
        "item-id" => p.id,
        "item-name" => p.name,
        "item-price" => p.price,
        "item-url" => "#{'http://' + request.domain + request.fullpath}",
        "item-description" => p.description
        }
        
        
        )  %>
  </div>

        
 