<div class="info-content <%= p.model %>-costs table-responsive hide" id="<%= p.model %>-costs">
  <table id="costs" border="0" class="table table-striped specs" >
  
    <tr>
      <th><%= t "store.costs.attrconst" %></th>
      <th><%= t "store.costs.attrcost" %></th>
      <th><%= t "store.costs.attrtotalleds" %></th>
      <th><%= t "store.costs.attrsubtotalcost" %></th>
    </tr>
    
    <tbody>
    
    <% p.constituents.each do |c| %>
        <tr>
          <td><span data-toggle="tooltip" title="<%= c.description %>"><%= c.name %></span></td>
          <td><%= c.cost_ils %></td>
          <td><%= c.joiners.sum("joiners.sub_total") %></td>
          <td class="sum"><%= c.cost_ils * c.joiners.sum("joiners.sub_total") %></td>
        </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr class="summary totals">
      
      <td><%= t "store.costs.total" %></td>
      <td></td><td></td>
      <td class="" id="total-costs-<%= p.model %>"></td>
    </tr>
    </tfoot>
  </table>
</div>

<script>

$(function(){
$('#costs').sumtr();        
})

/*
$("#total-costs-<%= p.model %>").html(function() {
    var a = 0;
    $(".<%= p.model %>-sum").each(function() {
        a += parseInt($(this).html());
    });
    return a;
});
*/
</script>

<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>