﻿<div class="product-front well row customLamp" >
<div id="test"></div>
    <h2 class="product-name customLampTitle">
      <span class="diyPriceLabel left">מחיר: <span id="diyPrice">12</span>&#8362;</span>
      <span class="right ">התאמה אישית - בבנייה</span>
    </h2>

    <div class="controls right col-md-4 col-xs-12">
      <div class="measurements">
        <div class="form-group">
          <label for="width">רוחב: </label>
          <input value="50" id="width" type="number" name="width" min="20" max="100" step="5" class="lampSize"> ס"מ
        </div>
        <div class="form-group">
          <label for="height">אורך: </label>
          <input value="50" id="height" type="number" name="height" min="20" max="100" step="5" class="lampSize"> ס"מ
        </div>
      </div>
      <div class="wattage">
        <div class="form-group">
            <label for="redw">אדום: </label>
            <input value="75" id="redw" type="number" name="redw" min="0" max="500" step="25" class="lampWatt"> W
        </div>
        <div class="form-group">
            <label for="bluew">כחול: </label>
            <input value="50" id="bluew" type="number" name="bluew" min="0" max="500" step="25" class="lampWatt"> W
        </div>
        <div class="form-group">
            <label for="uvw">אולטרה: </label>
            <input value="0" id="uvw" type="number" name="uvw" min="0" max="200" step="25" class="lampWatt"> W
        </div>
      </div>
      <div class="wattage">
        <div class="form-group">
          <label for="psu">ספק כח: </label>
          <input value="150" id="psuInput" type="number" name="psu" min="100" max="1000" step="50" class="lampPsu" disabled> W
        </div>
      </div>
      <div class="fans">
        <div class="form-group">
          <label for="fan">מאווררים: </label>
          <input value="2" id="fanInput" type="number" name="fans" min="1" max="6" step="1" class="lampFans">
        </div>
      </div>
      <div class="misc">
        <div class="form-group">
          <label for="misc">שונות: </label>
          <input value="50" id="miscInput" type="number" name="misc" class="misc" disabled>
        </div>
      </div>
    </div>
    <div class="lampWrap col-md-5 right">
      <div id="lamp" class="">
        <div class="">גודל: <span class="sizeValue"></span></div>
        <div class="">וואט: <span class="wattValue"></span></div>
        <div class="">ספק כח: <span class="psuValue"></span></div>
        <div class="">מאווררים: <span class="fansValue"></span></div>
      </div>
    </div>
  
  <div class="paypal-diy col-md-4 col-xs-12 left">
  <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="paypal">
    
    
    
    <input type="hidden" name="cmd" value="_cart">
    <input type="hidden" name="add" value="1">
    <input type="hidden" name="business" value="shop@ledyair.com">
    <input type="hidden" name="item_name" value="customLamp">
    <input type="hidden" name="item_number" value="2">
    <input type="hidden" name="amount" value="" id="paypalTotal">
    <input type="hidden" name="shipping" value="0">
    <input type="hidden" name="shipping2" value="0">
    <input type="hidden" name="handling" value="0">
    <input type="hidden" name="currency_code" value="ILS">
    <input type="hidden" name="return" value="http://ysinc.co/thank-you">
    <input type="hidden" name="undefined_quantity" value="1">
    
    <input type="hidden" name="on0" value="size" />
    <input id="paypalInputSize" type="hidden" name="os0" maxlength="200" value="50x30"  />
    
    <input type="hidden" name="on1" value="wattage" />
    <input id="paypalInputWatt" type="hidden" name="os1" maxlength="200" value="150w"  />
    
    <input type="hidden" name="on2" value="psu" />
    <input id="paypalInputPsu" type="hidden" name="os2" maxlength="200" value="200w"  />
    
    <input type="hidden" name="on3" value="fans" />
    <input id="paypalInputFans" type="hidden" name="os3" maxlength="200" value="2"  />
    
    <input type="image" src="http://www.paypalobjects.com/<%= I18n.locale == :he || I18n.locale == :fe ? "he_IL" : "en_US" %>/i/btn/x-click-but22.gif" border="0" name="submit" width="87" height="23" alt="Make payments with PayPal - it's fast, free and secure!">
</form>


 
 
 </div>
</div>


<style>
  .customLamp{color:#000;}
  .customLamp input{background-color: whitesmoke; padding: 0 0.5em 0 0; width: 4em; text-align: center;}
  .customLamp label{width:5em; }
  h3{}
  #lamp{background-color:#000;color:#fff;text-align:center;margin:0 auto;}
  #paypalInputWatt{width:14em;}
  .product-front{margin-bottom:1em;}
  .paypal-diy input{border: none; text-align:right;}
  .measurements, .wattage, .psu, .fans, .misc { box-shadow: 0px 0px 5px 2px black; padding: 0.5em 0.5em 0 0;}
  .diyPriceLabel{text-align:left;}
  .product-name{height: 1em; line-height: 0.5em; margin: 0 0 0.5em 0;}
  
  .wattage input::after{content:"W";}
</style>

<%= render "store/js/customLamp"%>