<% @lamps.each do |p| %>
<div itemscope itemtype="http://schema.org/Product" class="product-front well row <%= p.model %>" >
  <div class="uupper col-xs-12">
  </div>
  <div class="gallery right col-md-6 col-xs-12">
    <div class="product-name-price">
      <h3 class="product-name">
        <span class="product_header" itemprop="name"><%= p.model %></span> 
      </h3>
      <h3 class="product-price offers" itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <span itemprop="price" class="price_header" >
        <%=  number_to_currency(p.sell, precision:0, unit: "") %>&#8362;
        </span>
        <meta itemprop="priceCurrency" content="ILS" />
      </h3>
    </div>
    <%= render :partial => "store/product_gallery", :locals => {:p => p} %>
  </div>
  <div class="info left col-md-6 col-xs-12">
    <%= render :partial => "store/product_buttons", :locals => {:p => p} %>
    <div class="">
      <%= render :partial => "store/specs", :locals => {:p => p} %>
      <%= render :partial => "store/costs", :locals => {:p => p} %>
      <%= render :partial => "store/buy", :locals => {:p => p} %>
    </div>
  </div>
</div>
<% end %>
<%= render :partial => "store/custom_lamp" %>