<div id="products-list" class="table-responsive" style="display:none;">

  <table class="table">
    <tr>
      <th><%= t "store.attrmodel" %></th>
      <th><%= Led.human_attribute_name(:watt) %></th>
      <th><%= Product.human_attribute_name(:price) %></th>
      <th><%= Product.human_attribute_name(:volt) %></th>
      <th><%= t "store.attrdimensions" %></th>
      <th><%= t "store.attrlightarea" %></th>
      <th><%= t "store.attrledcount" %></th>
      <th><%= t "store.attrwl" %></th>
      <th><%= t "store.attrstock" %></th>
      <th><%= t "store.actions" %></th>
    </tr>
    <% @lamps.each do |l| %>
      <tr>
        <td><%= l.model %></td>
        <td><%= l.watt %></td>
        <td><%= l.sell %></td>
        <td><%= l.volt %></td>
        <td><%= l.width.to_s + "X" + l.length.to_s %></td>
        <td><%= (l.width.to_i + 30).to_s + "X"  + (l.length.to_i + 30).to_s %></td>
        
        <td><%= l.joiners.leds.sum("joiners.sub_total") %></td>
        
        <td>
          <% l.constituents.leds.each do |c| %>
            <span class="wl<%= c.name %>">
              <%= c.name %>
            </span>
          <% end %>
        </td>
        <td><%= l.stock %></td>
        <td>
          <form method="post" action="https://www.paypal.com/cgi-bin/webscr" target="paypal">
          <input type="hidden" name="cmd" value="_cart">
          <input type="hidden" name="add" value="1">
          <input type="hidden" name="business" value="shop@ledyair.com">
          <input type="hidden" name="item_name" value="<%= l.model %>">
          <input type="hidden" name="item_number" value="<%= l.id %>">
          <input type="hidden" name="amount" value="<%= l.sell %>">
          <input type="hidden" name="shipping" value="0">
          <input type="hidden" name="shipping2" value="0">
          <input type="hidden" name="handling" value="0">
          <input type="hidden" name="currency_code" value="ILS">
          <input type="hidden" name="return" value="http://ysinc.co/thank-you">
          <input type="hidden" name="undefined_quantity" value="1">
          <input type="image" class="buy-btn" src="http://www.paypalobjects.com/<%= I18n.locale == :he || I18n.locale == :fe ? 'he_IL' : 'en_US' %>/i/btn/x-click-but22.gif" border="0" name="submit" width="40" height="10" alt="Make payments with PayPal - it's fast, free and secure!">
        </form>
        </td>
      </tr>
      <% end %>
  </table>

</div>

