<div class="buttons row form-horizontal  ">

  
  <%=  
  link_to( 
    (fa_icon "info-circle") + content_tag(:span, content_tag(:span, (t "store.specsbtn")), class: "hide-mobile") , 
    "javascript:void(0)", 
    :class => "specs-btn btn vcenter btn-specs ", :id => p.model + "-specs-btn", 
    :target => p.model + "-specs") 
  %>
  
  <%=  link_to( (fa_icon "ils") + content_tag(:span, content_tag(:span, (t "store.costsbtn")), class: "hide-mobile") , "javascript:void(0)" , :class => "  costs-btn btn vcenter", :id => p.model + "-costs-btn", :target => p.model + "-costs") %>
  <%=  link_to( 
  (fa_icon "cart-plus") + content_tag(:span, content_tag(:span, (t "store.buybtn")), class: "hide-mobile") , 
  "javascript:void(0)" , 
  :class => "  buy-btn btn vcenter", :id => p.model + "-buy-btn", :target => p.model + "-buy") %>
  
  
  
</div>