<div class="product-gallery">
  <div class="main-image row">
    <img itemprop="image" src="<%= asset_path("store/#{p.product_images.first.src}") %>" alt="" />
    <%#= image_tag(p.product_images.first.src) %>
    <!-- To be populated with product feature image-->
  </div>
  <div class="mini-images row">
    <% p.product_images.sorted.each do |img| %>
    <div class="col-md-4 col-xs-4 mini-image">
      <%= image_tag("store/thumbs/#{img.src}")%>
    </div>
    <% end %>
  </div>
</div>