<div class="info-content <%= p.model %>-specs" id="<%= p.model %>-specs"> 
 <table border="0" class="table table-striped specs">
  <tr><td><%= (fa_icon "bolt", :class => "fa-attr") + Led.human_attribute_name(:watt) %></td><td><%= p.watt %>W</td></tr>
  <tr><td><%= (fa_icon "expand", :class => "fa-attr") + (t "store.attrdimensions") %></td><td><%= p.width.to_s + "X" + p.length.to_s %></td></tr>
  <tr><td><%= (fa_icon "sun-o", :class => "fa-attr") +  (t "store.attrlightarea") %></td><td><%= (p.width.to_i + 30).to_s + "X"  + (p.length.to_i + 30).to_s %></td></tr>
  <tr>
    <td><%= (fa_icon "bar-chart", :class => "fa-attr") +  (t "store.attrledcount") %></td>
    <td> <%= p.joiners.leds.sum("joiners.sub_total") %>
      <%# p.led_configurations.each do |c| %>
         <%#= c.quantity %>
      <%# end %>
    </td>
  </tr>
  <tr>
    <td><%= (fa_icon "forumbee", :class => "fa-attr") + (t "store.attrwl") %></td>
    <td class="specs-wavelength">
      <% p.joiners.leds.each do |l| %>
        <span class="wl<%= l.constituent.name %>"><%= l.constituent.name %></span>
      <% end %>
    </td>
  </tr>
  <tr><td><%= (fa_icon "calculator", :class => "fa-attr") +  (t "store.attrstock") %></td><td><%= p.stock %></td></tr>
 </table>
 
 <div class="par-chart">
 <%= image_tag(asset_path("store/PAR-chart.png")) %>
 </div>
 </div>