<h1>Create store</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@store) do |f| %>
    <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.label :site_id %>
      <%= f.select :site_id, 1..10, class: 'form-control' %>


      <%= f.submit "Create Store", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>