<div id="products-list" style="display:none;">

  <table class="table">
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <%= @products.each do |p| %>
      <tr>
        <td><%= p.name %></td>
      </tr>
    <% end %>
  </table>

</div>