
<html>
  <head>
  
    <title>Ledyair Admin</title>
		<%= favicon_link_tag 'favicon.png' %>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= stylesheet_link_tag "admin", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    
    <%= csrf_meta_tags %>
     
  </head>
  <body class="no_ajaxify admin">
<%= render 'shared/direction' %>

<%= render 'shared/usernav' %>
<%= render 'shared/flash' %>
  <%#= debug(params) if Rails.env.development? %>
  <div class="lang-links">
          <%= link_to_unless_current "English", locale: "en"%> |
          <%= link_to_unless_current "עברית", locale: "he" %>
          
          <% if I18n.locale == :he || I18n.locale == :fe %>
            | <%= link_to_unless_current "נקבה", locale: "fe" %>
          <% end %>
          
        </div>
  <%#= render 'admin/partials/header' %>
<div class="main-content container">
<%#= link_to (t "admin.main_page"), admin_site_path(@site) %>
 <%= yield %>
</div>
 
<%= javascript_include_tag 'ckeditor/init', 'data-turbolinks-track' => true %>

  </body>
</html>
