<!DOCTYPE html>
<html lang="he" dir="rtl">
  <head>

    <%#= (t "company") + " - " +( t "action.#{params[:action]}") %>
    <title><%= @title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
    <meta name="description" content="LED yair, a manufactirer of LED grow lights, science, diy and store">
    <meta name="keywords" content="LED grow light, grow, led, par, photosynthesis led, גידול בלד, נורת גידול לד, גידול, לד">
    <meta name="author" content="LED Yair">
    
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>

<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>

		<%= favicon_link_tag "favicon.png" %>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= google_webfonts_init({
      google: ["Noto Sans"]
    }) %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "lang-set", "data-turbolinks-track" => true %>
    
    

    <%= csrf_meta_tags %>    

   <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.min.js"></script>
    
  </head>
  <body itemscope itemtype="http://schema.org/LocalBusiness">
  

  
	<div id="fb-root"></div>
<%#= debug(params)  %>

<%= render 'shared/fbsdk' %>
<%#= render 'shared/fblike' %>
<%= render 'shared/direction' %>
<%= render "shared/header2" %>

<div class="main-content container-fluid" id="main">
  
  <div class="flash">
    <%= render "shared/flash" %>
  </div>
  
  
   <%= yield %>
   
  
</div>

 <%= render 'shared/ga' %>
 
<%= render 'shared/footer' %>					

<%#= console %>

<script>
$(function(){
$('nav').slicknav(
        {
            label: '',
            closeOnClick:true,

          'init': function(trigger){
            $('.slicknav_menu').prepend('<div class="logo"><a href="/"><%= image_tag("vineLogoS.png") %></a></div>');
          }
        
        });
});
</script>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//ysinc.co/piwik/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
  
  </script>
  
 </body>
</html>
