<!DOCTYPE html>
<html >
  <head>

    <title>ערבית</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=yes">
    
		<%= favicon_link_tag "favicon.png" %>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    
    

    <%= csrf_meta_tags %>    

   
    
  </head>
  <body>

<div class="main-content container" id="main">
  
    <%= render 'shared/flash' %>
        
   <%= yield %>
   
  
</div>

 </body>
</html>
