<div class="site-index">
<table class="table table-bordered ">
  <tr>
    <th>Name</th><th>URL</th><th>Description</th>
  </tr>
  <% @sites.each do |site| %>
  <tr><td><%= link_to(site.name, admin_site_path(site)) %></td><td><%= site.url %></td><td><%= site.description %></td></tr>
  <% end %>



</table>
</div>