<%= flash[:notice] if flash[:notice]%>
<h2>Navigation</h2>
<table class="toggle" border="1">
<tr>
  <th>Order</th>
  <th>Name</th>
  <th>href</th>
  <th>Display</th>
  <th>Updated</th>
</tr>
<% @navigation.each do |nav| %>
<tr>
  <td><%= nav.order %></td>
  <td><%= nav.name%></td>
  <td><%= nav.href %></td>
  <td><%= nav.display %></td>
  <td><%= nav.updated_at %></td>
</tr>
<% end %>
</table>
<%= link_to "Add Nav",new_admin_navigation_path %>

<h2>Pages</h2>
<table class="toggle" border="1">
<tr>
  <th></th><th>Title</th><th>Permalink</th><th>Updated</th><th>Actions</th>
</tr>
<% @pages.each do |page| %>
<tr>
  <td><%=  page.id %></td><td><%= link_to(page.title, admin_page_path(page) ) %></td><td><%= page.permalink %></td><td><%= page.updated_at %></td>
  <td><%= link_to("Delete", admin_page_path(page), method: "delete", :data => {:confirm => 'Are you sure?'}) %></td>
</tr>
<% end %>
</table>
<span><%= link_to("Add page", new_admin_page_path ) %></span>

<h2>Store</h2>
<table class="toggle" border="1">
<tr>
  <th>Category</th><th>Description</th><th>Updated</th>
</tr>
<% @product_categories.each do |cat| %>
<tr>
  <td><%= link_to(cat.name, admin_products_path, :site_id => @site.id) %></td><td><%= cat.description %></td><td><%= cat.updated_at %></td>
  
</tr>
<% end %>
</table>

<script>
$( "h3" ).click(function() {
  $(this).siblings(".toggle").toggleClass( "hide" );
});
</script>
<table border="1">